@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary: #fe2c55;

    --default-layout-header-height: 60px;
    --default-layout-with: 1150px;
    --white-color: #fff;
    --black-color: #000;
    --text-gray-color: #8e8e8e;
    --text-black-color: #262626;
    --border-color: #dbdbdb;
    --btn-blue-color: #0597f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
